html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    margin: 0;
    z-index: 3;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

.navbar {
    background-color: #cacacaf3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.nav-item {
    background-color: #DACFA9;
    padding: 0.5em 3.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
}


footer {
    background-color: #333333;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-box {
    color: #F1F1F1;
}

#title {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 162px;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;
    z-index: 2;

    transform: translateY(0);

    color: #333333;
}

#subtitle {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 0;

    color: #494949;
}

#logo {
    max-width: 35%;
    transform: translate(0, -45px);
    z-index: -1;
    /*filter: blur(10px);*/
}

#coolstuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#boxes-container {
    margin: 0 15em;
    transform: translateY(-180px);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em 1em;
    grid-template-areas: 
    "A A"
    "B C";
}

.box {
    background-color: #F1F1F1;
    box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1em;
    padding: 5em;
}

#A {
    grid-area: A;
}


#B {
    grid-area: B;
    transform: translateY(200px)
}

#C {
    grid-area: C;
    transform: translateY(400px)
}

#menu-container {
    padding: 1em 10em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
}

.menu-item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    transition: all .2s ease-in-out;
}

/* .menu-item:hover{
    box-shadow: 5px 5px 0px 0px #cacacaf3, 10px 10px 0px 0px #cacacabb, 15px 15px 0px 0px #cacaca58, 20px 20px 0px 0px #cacaca30, 25px 25px 0px 0px #cacaca16, 0px 0px 12px 3px rgba(0,0,0,0); 
} */

.menu-item:hover {
    transform: scale(1.1);
}

.menu-item-image {
object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.menu-item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.about-container {
    background-color: #DACFA9;
    margin: 1em 10em;
    padding: 1em;
    border-radius: 2em;
}